<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">	
</head>
<body>
	<div class="container jumbotron">
		<div class="row">
			<div class="col-md-4">
				
			</div>
			<div class="col-md-4">
				<h1>Login Here!</h1>
				<form method="post">
					{% csrf_token %}
					<div class="form-group">
						<input type="text" name="username" class="form-control" placeholder="UserName">
					</div>
					<div class="form-group">
						<input type="password" name="password" class="form-control" placeholder="Password">
					</div>
					<div class="form-group ">
						<input type="submit" name="login" value="Login" class="form-control btn btn-primary">
					</div>
				</form>
				
				
			</div>
			<div class="col-md-4">
				
			</div>
		</div>
	</div>

</body>
</html>